@import url("https://fonts.googleapis.com/css?family=Raleway|Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
$fatFont: "Roboto", sans-serif;
$slimFont: "Raleway", sans-serif;
$logoFont: "Abril Fatface", cursive;

@mixin fullParentDemensions() {
  width: 100%;
  height: 100%;
}

$primary: #ff7c41;
$accent: #579e9e;

$glow: rgba(255, 255, 255, 0.404);
$glowHover: rgba(255, 255, 255, 0.603);
